In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
raw_df = pd.read_csv(filepath_or_buffer='out.csv')

In [3]:
raw_df.describe()

,fusedhour,toplam_yolcu,weekDay,temp,rain,"rain,snow",snow,trafficIndex
count,3974.000000,3974.000000,3974.000000,3974.000000,3974.000000,3974.000000,3974.000000,3974.00000
mean,13.215903,9306.409914,3.352542,13.494766,0.441621,0.090840,0.044288,56.59152
std,6.224485,5531.242928,2.182297,7.880922,0.496643,0.287418,0.205760,10.03569
min,0.000000,5.000000,0.000000,-1.900000,0.000000,0.000000,0.000000,5.40000
25%,9.000000,5292.000000,1.000000,6.500000,0.000000,0.000000,0.000000,50.22000
50%,13.000000,9166.000000,3.000000,13.000000,0.000000,0.000000,0.000000,56.70000
75%,19.000000,12784.500000,5.000000,21.700000,1.000000,0.000000,0.000000,61.56000
max,23.000000,22742.000000,7.000000,25.700000,1.000000,1.000000,1.000000,90.00000

In [4]:
raw_df

,fusedhour,toplam_yolcu,weekDay,datetime,temp,rain,"rain,snow",snow,AVERAGE_SPEED,trafficIndex
0,0,4132,7,2022-01-01 00:00:00,8.8,1,0,0,"60,488715304",48.60
1,5,947,7,2022-01-01 05:00:00,8.8,1,0,0,"66,633641685",43.20
2,6,1618,7,2022-01-01 06:00:00,8.8,1,0,0,"65,387205492",45.00
3,7,2060,7,2022-01-01 07:00:00,8.8,1,0,0,"64,62633182",46.80
4,8,2219,7,2022-01-01 08:00:00,8.8,1,0,0,"63,081663319",48.60
...,...,...,...,...,...,...,...,...,...,...
3969,19,12332,5,2022-07-30 19:00:00,25.7,0,0,0,"55,607900626",56.70
3970,20,9754,5,2022-07-30 20:00:00,25.7,0,0,0,"56,044702403",55.08
3971,21,8403,5,2022-07-30 21:00:00,25.7,0,0,0,"56,863874835",55.08
3972,22,7497,5,2022-07-30 22:00:00,25.7,0,0,0,"56,75546824",55.08
3973,23,5005,5,2022-07-30 23:00:00,25.7,0,0,0,"57,102345049",53.46

In [41]:
mylist=[]
for x in range(len(raw_df)):
  #print(int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2]))
  #raw_df['test']=np.where((90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)<1), 1,
  #np.where((1<= (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) and (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50))<50), (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)),
  #np.where(( 50<= (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) and   (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) <100 ), (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) *0.9,
  #np.where((90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50))>=100 , 90,
  #       0))))
    if (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)<1):
        raw_df.at[x,'test']=(1)
    elif (1<= (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) and (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50))<50):
        raw_df.at[x,'test']=((90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)))
    elif ( 50<= (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) and   (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) <100 ):  
        raw_df.at[x,'test']=((90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) *0.9)
    elif (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50))>=100:
        raw_df.at[x,'test']=(90)
  #np.where((90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)<1), 1,
  #np.where((1<= (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) and (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50))<50), (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)),
  #np.where(( 50<= (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) and   (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) <100 ), (90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50)) *0.9,
  #np.where((90 - (90*( int(raw_df.iloc[x]['AVERAGE_SPEED'].strip()[0:2])-40)/50))>=100 , 90,
  #       0)))))

In [5]:
raw_df

,fusedhour,toplam_yolcu,weekDay,datetime,temp,rain,"rain,snow",snow,AVERAGE_SPEED,trafficIndex
0,0,4132,7,2022-01-01 00:00:00,8.8,1,0,0,"60,488715304",48.60
1,5,947,7,2022-01-01 05:00:00,8.8,1,0,0,"66,633641685",43.20
2,6,1618,7,2022-01-01 06:00:00,8.8,1,0,0,"65,387205492",45.00
3,7,2060,7,2022-01-01 07:00:00,8.8,1,0,0,"64,62633182",46.80
4,8,2219,7,2022-01-01 08:00:00,8.8,1,0,0,"63,081663319",48.60
...,...,...,...,...,...,...,...,...,...,...
3969,19,12332,5,2022-07-30 19:00:00,25.7,0,0,0,"55,607900626",56.70
3970,20,9754,5,2022-07-30 20:00:00,25.7,0,0,0,"56,044702403",55.08
3971,21,8403,5,2022-07-30 21:00:00,25.7,0,0,0,"56,863874835",55.08
3972,22,7497,5,2022-07-30 22:00:00,25.7,0,0,0,"56,75546824",55.08
3973,23,5005,5,2022-07-30 23:00:00,25.7,0,0,0,"57,102345049",53.46

In [3]:
raw_df['AVERAGE_SPEED']=raw_df['AVERAGE_SPEED'].str.strip()

In [4]:
raw_df['AVERAGE_SPEED']=raw_df['AVERAGE_SPEED'].str[:2]

In [6]:
raw_df.dtypes

fusedhour          int64
toplam_yolcu       int64
weekDay            int64
datetime          object
temp             float64
rain               int64
rain,snow          int64
snow               int64
AVERAGE_SPEED     object
trafficIndex     float64
dtype: object

In [6]:
#raw_df=raw_df[raw_df['fusedyear']==2022]

In [7]:
#cols=["fusedyear","fusedmonth","fusedday"]
#raw_df['date'] = raw_df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

In [8]:
#raw_df['weekDay']=pd.to_datetime(raw_df['date']).dt.dayofweek

In [7]:
#del raw_df['fusedyear']
#del raw_df['fusedmonth']
#del raw_df['fusedday']
del raw_df['datetime']
del raw_df['AVERAGE_SPEED']
#raw_df.drop(raw_df[raw_df['fusedhour']==1].index,axis=0,inplace=True)
#raw_df.drop(raw_df[raw_df['fusedhour']==2].index,axis=0,inplace=True)
#raw_df.drop(raw_df[raw_df['fusedhour']==3].index,axis=0,inplace=True)
#raw_df.drop(raw_df[raw_df['fusedhour']==4].index,axis=0,inplace=True)

In [8]:
raw_df['rain']=raw_df['rain'].astype('category')
raw_df['rain,snow']=raw_df['rain,snow'].astype('category')
raw_df['snow']=raw_df['snow'].astype('category')
raw_df['trafficIndex']=pd.to_numeric(raw_df['trafficIndex'])

In [9]:
raw_df.corr()

              fusedhour  toplam_yolcu   weekDay      temp  trafficIndex
fusedhour      1.000000      0.258211  0.005235 -0.000792      0.275880
toplam_yolcu   0.258211      1.000000 -0.155750  0.059922      0.440562
weekDay        0.005235     -0.155750  1.000000  0.100948     -0.199296
temp          -0.000792      0.059922  0.100948  1.000000     -0.327283
trafficIndex   0.275880      0.440562 -0.199296 -0.327283      1.000000

In [10]:
#raw_df.to_csv('/root/staj/utku.csv',index=False)

In [11]:
train, test = train_test_split(raw_df, test_size=0.2)

In [12]:
cols=["weekDay","fusedhour","temp","rain","rain,snow","snow","trafficIndex"]
train_X=train[cols]

In [13]:
test_X=test[cols]

In [14]:
train_y=train['toplam_yolcu']

In [15]:
test_y=test['toplam_yolcu']

In [17]:
train_y

1708     7294
2117     8582
2324    17295
971     17526
3078    13846
        ...
3900    16584
1502      190
1934    21990
3310     8703
770     21367
Name: toplam_yolcu, Length: 3179, dtype: int64

In [18]:
test_X

      weekDay  fusedhour  temp rain rain,snow snow  trafficIndex
617         1         11   7.0    1         0    0         61.56
2881        4         21  21.7    0         0    0         59.94
134         4         23  10.4    1         0    0         50.22
3651        7         11  23.5    0         0    0         51.84
2323        7         12  11.7    1         0    0         51.84
...       ...        ...   ...  ...       ...  ...           ...
848         6          9   6.8    1         0    0         48.60
840         5         21   7.2    1         0    0         56.70
927         3         11   9.4    0         0    0         59.94
1361        5         12  -1.9    0         0    1         61.56
1376        6          7   0.8    0         1    0         50.22

[795 rows x 7 columns]

In [19]:
test_y

617     10073
2881     8790
134      2680
3651     5605
2323    13650
        ...
848      4122
840      7219
927      8799
1361     7565
1376     2343
Name: toplam_yolcu, Length: 795, dtype: int64

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
reg = LinearRegression().fit(train_X,train_y)

In [22]:
reg.score(test_X,test_y)

0.24252942004061406

In [23]:
from sklearn import linear_model

In [24]:
clf = linear_model.Lasso(alpha=0.1)

In [25]:
clf.fit(train_X,train_y)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [26]:
clf.score(test_X,test_y)

0.24252952463946675

In [27]:
from sklearn.linear_model import Ridge

In [28]:
clf2 = Ridge(alpha=0.1)

In [29]:
clf2.fit(train_X,train_y)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [30]:
clf2.score(test_X,test_y)

0.24252848144648342

In [31]:
from sklearn.linear_model import ElasticNet

In [32]:
regr = ElasticNet(alpha=0.1)

In [33]:
regr.fit(train_X,train_y)

ElasticNet(alpha=0.1, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [34]:
regr.score(test_X,test_y)

0.2351243447511966

In [35]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

In [36]:
model = Pipeline([('poly', PolynomialFeatures(degree=2)),
                  ('linear', LinearRegression(fit_intercept=False))])

In [37]:
model.fit(train_X,train_y)

Pipeline(memory=None,
         steps=[('poly',
                 PolynomialFeatures(degree=2, include_bias=True,
                                    interaction_only=False, order='C')),
                ('linear',
                 LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [38]:
model.score(test_X,test_y)

0.47696812089662277

In [39]:
from sklearn.linear_model import RANSACRegressor

In [40]:
ransac = RANSACRegressor(LinearRegression(),
		max_trials=4, 		# Number of Iterations
		min_samples=2, 		# Minimum size of the sample
		loss='absolute_loss', 	# Metrics for loss
		residual_threshold=10 	# Threshold
		)

In [41]:
ransac.fit(train_X,train_y)

RANSACRegressor(base_estimator=LinearRegression(copy_X=True, fit_intercept=True,
                                                n_jobs=None, normalize=False),
                is_data_valid=None, is_model_valid=None, loss='absolute_loss',
                max_skips=inf, max_trials=4, min_samples=2, random_state=None,
                residual_threshold=10, stop_n_inliers=inf,
                stop_probability=0.99, stop_score=inf)

In [42]:
ransac.score(test_X,test_y)

0.0003597293253538858

In [43]:
from sklearn.ensemble import RandomForestRegressor

In [44]:
forest=RandomForestRegressor(n_estimators=20,
                             max_depth=20,
                             criterion='mse',
                            )

In [45]:
forest.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=20, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [46]:
forest.score(test_X,test_y)

0.9591163999497999

In [55]:
# Saving the model
import pickle
filename = '/root/staj/model.sav'
pickle.dump(forest, open(filename, 'wb'))

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
pipe = Pipeline([
    ('scaler', StandardScaler()), 
    ('poly', PolynomialFeatures(degree=2)),
    ('forest', RandomForestRegressor(n_estimators=20,
                             max_depth=20,
                             criterion='mse',
                            ))
])

In [50]:
pipe.fit(train_X,train_y)

Pipeline(memory=None,
         steps=[('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('poly',
                 PolynomialFeatures(degree=2, include_bias=True,
                                    interaction_only=False, order='C')),
                ('forest',
                 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=20,
                                       max_features='auto', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=20, n_jobs=None,
                                       oob_score=False, random_state=None,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [51]:
pipe.score(test_X,test_y)

0.951964779022456

In [52]:
from sklearn.svm import SVR

# Choose regression method and set hyperparameter
svr_rbf=SVR(C=1.0, epsilon=0.2, kernel='rbf')

# Training of the regression model
svr_rbf.fit(train_X,train_y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [53]:
svr_rbf.score(test_X,test_y)

0.012222414119538172